# Range and input Functions

# how to use Range() funtion in Python?

# Syntex
### Below is the syntex of the range() funtion.
### Range(start,stop,step)

# Range is DAta Type and its immutable

### It takes three arguments. Out of the three,two are optional. the start and step are optional arguments and the stop is the mandatory (necessary) arguments.

## Start(Lower Limit)
## stop(Upper Limit)
## step(increment value)

# point to remember about range() funtion
### The range() funtion only works with the integer.
### The step value must not be zero
###  when we want to decrease the range the start will be higher and stop will be lower

In [5]:
x=range (1,10,2)
print(x)
print(type(x))

range(1, 10, 2)
<class 'range'>

In [9]:
# print first 10 number
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
# print first 10 number
for i in range (10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [4]:
for i in range(2,21,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [2]:
for i in range (15):
    print(i,end=", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14,

In [7]:
for i in range(20,0,-2):
    print(i,end=" ")

20 18 16 14 12 10 8 6 4 2

In [12]:
for i in range (2,11,3):
    print(i,end=" ")

2 5 8

In [1]:
for i in range (11):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10

In [21]:
for i in range (10,1,-2):
    print(i,end=" ")     
 # when we want to decrease the range the start will be higher and stop will be lower
# The range will return an Empty sequence if you set the stop value lesser than the start

10 8 6 4 2

In [19]:
for i in range (1,10,-2):
    print(i,end=" ")      #here we not take large no.in start so its not work

In [10]:
for i in range (1,-10,-1):
    print(i,end=" ")

1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9

In [11]:
for i in range (0,-10,-1):
    print(i,end=" ")

0 -1 -2 -3 -4 -5 -6 -7 -8 -9

In [8]:
for i in range (10,16):
    print(i,end=" ")

10 11 12 13 14 15

In [36]:
for i in range (15,10,-1):
    print(i,end=" ")

15 14 13 12 11

In [38]:
for i in range (1.5,5.7):
    print(i,end=" ")       # range will be not in float no.

TypeError: 'float' object cannot be interpreted as an integer

In [37]:
for i in range (10,15,0):
    print(i,end=" ")          #

ValueError: range() arg 3 must not be zero

In [26]:
lst=[1,54,65,14]
for i in range(1),[]:
    print(lst)

[1, 54, 65, 14]
[1, 54, 65, 14]

In [23]:
lst=[1,54,65,14]
for i in range(5):
    print(lst[i],end=" ")

1 54 65 14

IndexError: list index out of range

In [ ]:
lst=[1,54,65,14]
for i in range(3),[]:
    print(lst)

In [9]:
for i in range (10,16):
    print(i,end=" ")

10 11 12 13 14 15

In [11]:
for i in range(10.5,55.3,.2):   # the range function only take integer
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [12]:
for i in range(10,15,0):
    print(i)

ValueError: range() arg 3 must not be zero

In [13]:
for i in range(1,10,2):
    print("current value of i is:",i)

current value of i is: 1
current value of i is: 3
current value of i is: 5
current value of i is: 7
current value of i is: 9

# Iterative a list using range() or for loop

In [24]:
list1=["paisa","uma",20,30,75.5]
for i in range(len(list1)):
    print(list1[i])

paisa
uma
20
30
75.5

In [25]:
list1=["paisa","uma",20,30,75.5]
for i in range(len(list1)):
    print(list1[i],end=" ")

paisa uma 20 30 75.5

In [27]:
list1=["paisa","uma",20,30,75.5]
for i in range(5):
    print(list1[i],end=" ")

paisa uma 20 30 75.5

In [11]:
list=[12,15,65,56,"hello"]
for i in range(4):
    print(list[i],end=" ")

12 15 65 56

# Reverse Range

### - using negative step

In [30]:
for i in range(10,-2,-2):
    print(i,end=" ")

10 8 6 4 2 0

### - using reversed step

In [2]:
for i in (reversed(range(10,21))):
    print(i,end=" ")

20 19 18 17 16 15 14 13 12 11 10

In [5]:
for i in (reversed(range(0,10))):
    print(i,end=" ")

9 8 7 6 5 4 3 2 1 0

# Negative range() in python

In [4]:
for i in range(-1,-11,-1):
    print(i,end=" ")

-1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [7]:
for i in range(-11,-1):
    print(i,end=" ")

-11 -10 -9 -8 -7 -6 -5 -4 -3 -2

# Convert range() to list

In [3]:
sample_list = list(range(11))

print(sample_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list1=list(range(1,16,2))
print(list1)

[1, 3, 5, 7, 9, 11, 13, 15]

# Acess and modify list item using Range()

### Also,you can use range() to access and modify list items.
### Using a len() funtion, you can get a count of list items. Next, use this count as a stop number in range() and iterate for loop stop-1 times. In each iteration , you will get index number of a current list item.

In [1]:
sample_list = list(range(10,100,10))
for i in range(0,len(sample_list),1):
    sample_list[i]=sample_list[i]*2
print(sample_list)

[20, 40, 60, 80, 100, 120, 140, 160, 180]

In [9]:
sample_list = list(range(10,100,10))
for i in range(0,len(sample_list),1):
    sample_list[i] =sample_list[i]*2
print(sample_list)

[20, 40, 60, 80, 100, 120, 140, 160, 180]

In [ ]:
sample_list=list(range(1,12,2))
for i in range(0(len))

# inclusive Range

In [12]:
for i in range(2,20+1,1):
    print(i,end=" ")

2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [69]:

for i in range(2,20,2)
    print(i,end=" ")

IndentationError: expected an indented block after 'for' statement on line 1 (3787945877.py, line 2)

# range() indexing and sliceing

In [41]:
range(20,40,1)[3]

23

In [42]:
range(20)[3]

3

range(20)[0:2]

In [47]:
range(1,20,2)[0:2]
for i in range(1,20,2)[0:6]:
    print(i,end=" ")

1 3 5 7 9 11

In [52]:
range(20)[0:19]
for i in range(20)[1:19:2]:
    print(i,end=" ")

1 3 5 7 9 11 13 15 17

In [54]:
range1=range(0,25,2)
print(range1.start)

0

In [55]:
range1=range(0,25,2)
print(range1.stop)

25

In [56]:
range1=range(0,25,2)
print(range1.step)

2

In [59]:
range(5,-1,-1)
for i in range(5,-1,-1):
    print(i,end=" ")

5 4 3 2 1 0

In [60]:
for i in reversed(range(5,-1,-1)):
    print(i,end=" ")

0 1 2 3 4 5

In [63]:
for i in range(10,-1,1):
    print(i)

In [73]:
range(0,20,2)                    #generate a sequence of integer from zero to stop-1
for i in range(0,20,2):
    print(i,end=" ")

0 2 4 6 8 10 12 14 16 18

In [75]:
range(5,-1,-1)   # Reverse Range
for i in range(5,-1,-1):
    print(i,end=" ")

5 4 3 2 1 0

In [78]:
x=list(range(20))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [82]:
x=list(range(20))
x.append(20)
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [85]:
x=range
print(x)

<class 'range'>